<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>CAPITAL GUARD ARMY</h1>
      <p>Official website of the Capital Guard Unit Against Terrorism</p>  
    </div>
    <button>ENROLL NOW</button>
  </div>
</div>
<ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
" alt="">
    </div>
    <div class="bullet-content">
      <h2>Join the Army</h2>
      <p>A career in the Army is hugely rewarding in terms of job satisfaction and pay and benefits. It offers the chance to work alongside people you trust and respect.
      </div>
  </li>  
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Start your Application</h2>
      <p>With over 200 different roles, you’re sure to find one that suits you. And don’t worry if you’re not quite ready now, we've got all the information you need to prepare yourself physically and mentally.</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>What's life like in the Army?</h2>
      <p>It’s a job where no two days are the same. Where travel and adventure go with the territory. Where you work with people who become lifelong friends.</p>
    </div>
  </li> 
</ul>

<div class="intro-text">
  <h3>NOT SURE YET?</h3>
  <h2>Join our forums</h2>
  <h4>Talk with a veteran to see if the army is the right choice for you</h4>
  <form action="/">
  <p>
    <label for="usuario">Usuario:</label>
    <input id="usuario" type="text" name="usuario"/>
  </p>
  <p>
    <label for="passwd">Contraseña:</label>
    <input id="passwd" type="password" name="passwd"/>
  </p>
  <p>
    <input type="submit" value="Continuar"/>
  </p>
</form>
</div>


